body{
    width: 100%;
    margin: 0px;
    text-align: center;
}
.logo{
    text-align: left;
}
hr{
    width: 100%;
    border: 2px solid red;
}
.content{
    margin: auto;
    width: 90%;
    height: 200px;
    border: 1px solid green;
}
.contentleft{
    float: left;
    width: 80%;
    height: 100%;
    border: 1px solid gray;
}
.contentright{
    width: 20%;
    border: 1px solid gray;
}
.detail-user{
    float: left;
    width: 15%;
    height: 100%;
    border: 1px solid gray;
}
.detail-user img{
    width: 50px;
    height: 50px;
}
.detail-content{
    float: left;
    width: 84%;
    border: 1px solid gray;
}
.contentright{
    float: left;
    width: 19%;
    border: 1px solid gray;
}
.reply{
    border: 1px solid red;
}
.col-sm-10{
    width: 98%;
}
.col-sm-offset-2 {
    margin-left: 0px;
}
.col-sm-offset-2 button{
    float: right;
}
.detail-reply{
    margin-top: 20px;
    width: 100%;
    overflow:auto;
    border: 1px solid red;
}

