.main{
    width: 100%;
    height: 800px;
    border: 1px solid red;
}
.top{
    width: 100%;
    height: 80px;
    text-align: center;
}
.top h3{
    color: #F07818;
    font-family: 'Marvel-Regular';
}
.con{
    width: 100%;
    overflow:auto
}
.ul{
    float: right;
    width: 80%;
}
.li{
    list-style: none;
    width: 100%;
    height: 200px;
    background-color: azure;
}
.lileft{
    float: left;
    width: 20%;
    height: 100%;
    border: 1px solid grey;
    border-right: 0px;
    text-align: right;
}
.liright{
    float: right;
    width: 80%;
    height: 100%;
    border: 1px solid grey;
}
.lirighttop{
    float: top;
    width: 100%;
    height: 80%;
    border-bottom: 1px solid grey;
}
table{
    border-collapse: collapse;
    margin-right: 20px;
    margin-bottom: 10px;
}
td{
    width: 14px;
    height: 30px;
}
td:nth-child(odd){
    background-image: url("/images/s_l_g.png");
}
td:nth-child(even){
    background-image: url("/images/s_r_g.png");
}
.lirightbotton{
    float: bottom;
    width: 100%;
    height: 20%;
    text-align: right;
}
img{
    width: 50px;
    height: 50px;
}
.btn-lg{
    margin-top: 10px;
    margin-right: 10px;
    font-size: 14px;
    border: none;
    padding: 0px;
}
.lirightbotton .reviews{
    margin-top: 10px;
    margin-right: 10px;
}
.reviews img{
    margin-top: 10px;
    width: 20px;
    height: 20px;
}
.page{
    margin-top: 10px;
    text-align: center;
}
